#boton_update {

    margin-right: 5px;    
    margin-bottom: 10px;;
    width: 100%;
    text-align: center;
    background-color: grey;       
    
}


.tarjetas{
   filter: drop-shadow(0 0 5px rgb(178,34,49));
   margin-bottom:10px;
   margin-left:auto;
   
}

#card {

    width: 100%;
   margin:auto;  
   text-align: left; 
    
}

.tarjetas_grid{
    display: grid;    
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); 
    gap: 5px;
}

#card:hover{
    box-shadow: 5px 5px 5px rgb(178, 34, 49);
}

.container_form{

    margin:auto;
    margin-top:10px;
    width: 450px;          
       
}


.form-control{
    width:400px;
}

.table_images {

    margin-top:5%;
    margin-bottom: 5%;
    filter: drop-shadow(0 0 5px rgb(178,34,49))
}

